<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auction</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>{{ auction.title }}</h1>
<p>Description: {{ auction.description }}</p>
<p>Starting Bid: {{ auction.starting_bid }}</p>
<p>Current Bid: {{ auction.curent_bid }}</p>
<p>Current Bid: {{ auction.status }}</p>
<img src="data:image/jpeg;base64,{{ product.image_data|b64encode }}" alt="Imagine">
<form method="GET" action="{{ url_for('create_bid', id_auction=auction.id_auction) }}">
    <button type="submit">Add Bid</button></form>
<script>
    function sendMessage(nume) {
        var url = '/send_message_post?nume=' + encodeURIComponent(nume);
        window.location.href = url;
    }
</script>

<button onclick="sendMessage('{{ nume }}')">Trimiteți un mesaj către proprietar</button>

<div id="message-modal" style="display: none;">
    <form onsubmit="sendMessage(); return false;">
        <label for="message">Mesaj:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea>
        <br>
        <button type="submit">Trimite</button>
    </form>
</div>
</body>
</html>
