.container {
        background-color: lightblue;
        color: white;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        top: 15%;
        left: 10%;
    }

    .form-control {
        background-color: white;
        color: black;
    }

    .btn-primary {
        background-color: #E1F3E8;
        border: none;
        color: #000000;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 10em;
    }

    .btn-primary:hover {
        background-color: #B5E0C7;
    }
     .form-control{
            background-color: #E1F3E8;
            border: none;
            color: #000000;
            padding: 5px 10px;

            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
        }

    select{
        background-color:lightblue ;
    }
    input{
        background-color:lightblue ;
    }