*,
*:after,
*:before { 
   box-sizing: border-box;
   
}

body {
   font-family:  "Inter", sans-serif;
   line-height: 1.5;
   overflow-y: hidden;
    
}

.window {
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: 100vh;
   
}
.window-main
{
    margin-top: 0%;
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
}

.editor {
   padding-top: 3px;
   padding-bottom: 5rem;
   padding-left: 5vw;
   padding-right: 5vw;
   height: 100%;
   overflow-y: auto;
   
}

.editor-login,
.editor-section1,
.editor-section2 h1{
   padding: 45px 0px;
   line-height: 1.65;
      font-size: 70px;
      font-weight: 500;
      line-height: 1.25;
}
.window-panel {
    
   background-color: #494974;
   padding: 2rem;
   position: relative;
   overflow-y: auto;
}

.tree {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding-left: 15px;
   position: relative;
}

.tree-branch-link {
   color: inherit;
   font-size: 20px;
   color: #04040a;
   text-decoration: none;
   position: relative;
   display: block;
   padding-top: 0.5px;
   padding-bottom: 0.5px;
   transition: 0.15s ease;
   }


