body {
    background-image: url("/static/Images/v944-bb-16-job598.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#casuta_prime {
    font-weight: lighter;
    font-family: Ubuntu, serif;
    font-size: 20px;
    position: relative;
    margin: auto;
    border: 1px solid #3B663B;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-button {
    background-color: #E1F3E8;
    border: none;
    color: #000000;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: lighter;
    font-family: Ubuntu;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 2em;
}

.custom-button:hover {
    background-color: #B5E0C7;
}

