body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("/static/Images/v944-bb-16-job598.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

body {
    font-weight: lighter;
    font-family: Ubuntu, serif;
    font-size: 20px;
}

.container {
    border: 1px solid #3B663B;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.message-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.message-row.s {
    justify-content: flex-end;
    display: block;
    margin-right: 100px;
}

.message {
    background-color: rgba(202, 215, 213, 1);
    padding: 10px;
    border-radius: 5px;
    border-color: #1904E5;
    margin: 5px;
    max-width: 30%;
    word-wrap: break-word;
    max-block-size: 50%;
}

.message.s {
    background-color: rgba(132, 150, 138, 0.3);
    border-color: #1904E5;
    word-wrap: break-word;
    position: relative;
    max-block-size: 50%;
    max-width: 30%;
    margin-left: auto;
}

.navbar {
            background-color: #E1F3E8;
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        .navbar li {
            position: relative;
            margin-right: 60px;
        }

        .navbar li:last-child {
            margin-right: 0;
        }

        .navbar a {
            text-decoration: none;
            color: #000000;
            transition: color 0.3s;
            font-weight: lighter;
            font-family: Ubuntu;
            font-size: 21px;
        }

        .navbar a:hover {
            color: #B5E0C7;
        }

        .navbar .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #E1F3E8;
            padding: 10px;
            z-index: 999;
        }

        .navbar li:hover .sub-menu {
            display: block;
        }

        .navbar .sub-menu li {
            margin-right: 0;
        }

        .navbar .sub-menu a {

            font-weight: lighter;
            font-family: Ubuntu;
            font-size: 19px;
        }

        .navbar .sub-menu a:hover {
            color: #B5E0C7;
        }


