<!DOCTYPE html>
<html>
<head>
    <title>Adaugă un produs</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\add_product.css">
</head>
<style>
    body {
         background-image: url("{{ url_for('static', filename='Images/Background.jpg') }}");
      background-size: cover;
    }
</style>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-info">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1 class="mb-4">Adaugă un produs</h1>
        <form method="POST" action="{{ url_for('add_product') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nume:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="price">Preț:</label>
                <input type="number" class="form-control" id="price" name="price" min="0" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="category">Categorie:</label>
                <select class="form-control" id="category" name="category" required>
                    <option value="">-- Selectează o categorie --</option>
                    <option value="electronice">Electronice</option>
                    <option value="imbracaminte">Îmbrăcăminte</option>
                    <option value="jucarii">Jucării</option>
                    <option value="carti">Cărți</option>
                    <option value="altele">Altele</option>
                </select>
            </div>
            <div class="form-group">
                <label for="image">Imagine:</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>
            <button type="submit" class="btn-primary">Adaugă produsul</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
