<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auction</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>{{ auction.title }}</h1>
<p>Description: {{ auction.description }}</p>
<p>Starting Bid: {{ auction.starting_bid }}</p>
<p>Current Bid: {{ auction.curent_bid }}</p>
<p>Current Bid: {{ auction.status }}</p>
<form method="GET" action="{{ url_for('create_bid', id_auction=auction.id_auction) }}">
    <button type="submit">Add Bid</button>
</form>
</body>
</html>
