<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Listă licitații</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\auctions.css">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='Images/Background.jpg') }}");
      background-size: cover;
        }
    </style>
</head>
<script src="static/js/auctions.js"></script>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="container">
        <h1>Listă licitații</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID licitație</th>
                    <th>ID utilizator</th>
                    <th>Preț de pornire</th>
                    <th>Preț curent</th>
                    <th>Data și ora de început</th>
                    <th>Data și ora de încheiere</th>
                    <th>ID produs</th>
                    <th>Acțiuni</th>
                </tr>
            </thead>
            <tbody>
                {% for auction in auctions %}
                <tr>
                    <td>{{ auction.id_auction }}</td>
                    <td>{{ auction.id_user }}</td>
                    <td>{{ auction.starting_price }}</td>
                    <td>{{ auction.curent_price }}</td>
                    <td>{{ auction.start_date.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                    <td>{{ auction.end_date.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                    <td>{{ auction.id_product }}</td>
                    <td>
                        <form method="GET" action="{{ url_for('get_auction', id_auction=auction.id_auction) }}">
                            <button type="submit" class="btn-primary">Acces auction</button>
                        </form>
                        <form action="" method="post">
                            <input type="hidden" name="auction_id" value="{{ auction.id_auction }}">
                            <button type="submit" class="btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if ok != 0 %}
        <div class="filter-section">
            <label for="option">Produse în funcție de preț:</label>
            <select id="pret_function" name="optiune">
                <option value="crescator">Crescător</option>
                <option value="descrescator">Descrescător</option>
            </select>
            <button onclick="filtreaza_pret()" class="btn-primary">Sortează</button>

            <br>

            <label for="option">Produse în funcție de status:</label>
            <select id="status" name="status">
                <option value="closed">Closed</option>
                <option value="open">Open</option>
            </select>
            <button onclick="filtreaza_status()" class="btn-primary">Filtrează</button>

            <br>

            <form action="/auctions_filter_by_date" method="get">
                <input type="date" name="date" required>
                <button type="submit" class="btn-primary">Filter</button>
            </form>

            <form action="/auctions_with_status_open_with_range_price" method="get">
                <label for="lower_price">Lower Price:</label>
                <input type="number" name="lower_price" required>

                <label for="upper_price">Upper Price:</label>
                <input type="number" name="upper_price" required>

                <button type="submit" class="btn-primary">Filter</button>
            </form>
        </div>
        {% endif %}

        {% if ok != 1 %}
        <button onclick="refresh()" class="btn-primary">Refresh</button>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
