
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome, {{ current_user.username }}!</h1>
    <p>Your email is {{ current_user.email }}.</p>
    <p>Your name is {{ current_user.name }}.</p>
    <p>Your address is {{ current_user.address }}.</p>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('edit_data') }}">Edit</a>
    <h1>Posts owned by you</h1>
    <ul>
        {% for post in posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
            <p>Price: {{ post.price }}</p>
            <p>Status: {{ post.status }}</p>
            <a href="{{ url_for('get_post', post_id=post.id_post) }}">Access post</a>
        </li>
        {% endfor %}
    </ul>
      <h1>Products owned by you</h1>
        <ul>
            {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>ID: {{ product.id_product }}</p>
                <p>Value: {{ product.price }}</p>
                <p>Category: {{ product.category }}</p>
            </li>
            {% endfor %}
        </ul>
  </ul>
      <h1>Auctions started by you</h1>
        <ul>
            {% for auction in auctions %}
            <li>
                <h2>{{ auction.title }}</h2>
                <p>ID: {{ auction.id_auction }}</p>
                   <p>Starting price: {{ auction.starting_price }}</p>
                    <p>Current price: {{ auction.curent_price }}</p>
                    <p>Start date: {{ auction.start_date }}</p>
                    <p>End date: {{ auction.end_date }}</p>
                    <p>Status: {{ auction.status }}</p>
                    <p>Winner_id: {{ auction.winner_id }}</p>
                    <p>description: {{ auction.description }}</p>
            </li>
            {% endfor %}
        </ul>
  </body>
</html>
