<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licitatii Web Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header>
    <div class="container-fluid bg-light py-2">
        <div class="container d-flex justify-content-between">
            <div class="text-left">
                <a class="navbar-brand" href="/">Licitatii Web Site</a>
            </div>
            <div class="text-right">
                <a class="btn btn-primary" href="login">Login</a>
                <a class="btn btn-outline-primary ml-2" href="register">Register</a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="add_product">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="auctions#int:id_auction">Auction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="auctions">Auctions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="auctions/create">Create Auction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="auctions#id_auction/create_bid">Create Bid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="create_post">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="edit_data">Edit Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="posts#id_post">Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="send_message">Send Message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="messages">View Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="view_questions">View Questions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</header>
</body>

</html>
