<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/aux.css">

</head>

<body>
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="static/images/signin-image.jpg" alt="sing up image"></figure>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form method="POST" action="" class="inputs">
                    {{ form.hidden_tag() }}
                    {{ form.username }}
                    {{ form.password }}
                    {{ form.submit }}
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a
                                href="{{ url_for('register') }}" class="link-danger">Register</a></p>
                    </div>

                    <div class="form-group">
                        <input type="button" onclick="window.location.href='/'" value="Go to Home Page"
                               class="custom-button">
                    </div>
                </form>

            </div>
        </div>

    </div>
</section>

<!-- JS -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>