<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>


<body>
<link rel="stylesheet" type="text/css" href="../static/login.css" />
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Licitatii Web Site</h1>
		</div>
	</div>


		<div class="right">
		<h5>Login</h5>
		  <form method="POST" action="" class="inputs">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>

			<br><br>
            <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
			<button id="button" onclick="window.location.href='/'">Home Page</button>
			<br>
	</div>

</div>


</body>

</html>