<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Post Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\post.css">
    <link rel="stylesheet" href="static\css\menu.css">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='Images/Background.jpg') }}");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<header>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="/posts">Posts</a>
                <ul class="sub-menu">
                    <li><a href="/create_post">Add Post</a></li>
                </ul>
            </li>
            <li>
                <a href="/auctions">Auctions</a>
                <ul class="sub-menu">
                    <li><a href="/auctions/create">Add Auction</a></li>
                </ul>
            </li>
            <li>
                <a href="/login">Login</a>
                <ul class="sub-menu">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </li>
            <li>
                <a href="/add_product">Add Product</a>

            </li>
            <li><a href="/view_questions">Questions</a></li>
            <li><a href="/messages">Messages</a>
                <ul class="sub-menu">
                    <li><a href="/send_message">Send Message</a></li>
                    <li><a href="/view_feedbacks">View Feedbacks</a></li>
                    <li><a href="/view_transactions">View Transactions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">{{ post.title }}</h1>
        </div>
        <div class="card-body">
            <p><strong>Category:</strong> {{ product.category }}</p>
            <p><strong>Description:</strong> {{ post.description }}</p>
            <p><strong>Price:</strong> {{ post.price }}</p>
            <p><strong>Status:</strong> {{ post.status }}</p>
            <p><strong>Start Date:</strong> {{ post.start_date }}</p>
            <p><strong>End Date:</strong> {{ post.end_date }}</p>
            <p><strong>Seller:</strong> {{ nume }}</p>
            <img src="data:image/jpeg;base64,{{ product.image_data|b64encode }}" alt="Imagine" class="img-fluid">

            {% if user_curent.id_user != 0 %}
            <form action="{{ url_for('buy_product', id_post=post.id_post) }}" method="post">
                <button type="submit" class="btn-primary">Buy</button>
            </form>

            <button onclick="sendMessage('{{ nume }}')" class="btn-primary">Send Message to Owner</button>

            <div id="message-modal" style="display: none;">
                <form onsubmit="sendMessage(); return false;">
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" rows="4" cols="50" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn-primary">Send</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    function sendMessage(nume) {
        var url = '/send_message_post?nume=' + encodeURIComponent(nume);
        window.location.href = url;
    }
</script>
</body>
</html>
