<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>All Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\posts.css">
    <link rel="stylesheet" href="static\css\menu.css">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='Images/Background.jpg') }}");
            background-size: cover;
        }
    </style>
</head>
<header>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="/posts">Posts</a>
                <ul class="sub-menu">
                    <li><a href="/create_post">Add Post</a></li>
                </ul>
            </li>
            <li>
                <a href="/auctions">Auctions</a>
                <ul class="sub-menu">
                    <li><a href="/auctions/create">Add Auction</a></li>
                </ul>
            </li>
            <li>
                <a href="/login">Login</a>
                <ul class="sub-menu">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </li>
            <li>
                <a href="/add_product">Add Product</a>

            </li>
            <li><a href="/view_questions">Questions</a></li>
            <li><a href="/messages">Messages</a>
                <ul class="sub-menu">
                    <li><a href="/send_message">Send Message</a></li>
                    <li><a href="/view_feedbacks">View Feedbacks</a></li>
                    <li><a href="/view_transactions">View Transactions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<script src="static/js/auctions.js"></script>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="container">
        <h1>All Posts</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.price }}</td>
                    <td>{{ post.status }}</td>
                    <td>
                        <a href="{{ url_for('get_post', post_id=post.id_post) }}" class="btn-primary">Access post</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if ok != 0 %}
        <div class="filter-section">
            <form action="/posts_filter_by_price" method="get">
                <div class="form-row">
                    <div class="col">
                        <label for="lower_price">Lower Price:</label>
                        <input type="number" name="lower_price" class="form-control" required>
                    </div>
                    <div class="col">
                        <label for="upper_price">Upper Price:</label>
                        <input type="number" name="upper_price" class="form-control" required>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn-primary">Filter</button>
                    </div>
                </div>
            </form>

            <form action="/posts_filter_by_category" method="get">
                <div class="form-group">
                    <label for="category">Produse in functie de categorie:</label>
                    <select id="category" name="category" class="form-control">
                        <option value="electronice">Electronice</option>
                        <option value="imbracaminte">Imbracaminte</option>
                        <option value="jucarii">Jucarii</option>
                        <option value="carti">Carti</option>
                        <option value="altele">Altele</option>
                    </select>
                </div>
                <button type="submit" class="btn-primary">Sorteaza</button>
            </form>
            <label for="option">Produse în funcție de preț:</label>
            <select id="pret_function" name="optiune">
                <option value="crescator">Crescător</option>
                <option value="descrescator">Descrescător</option>
            </select>
            <button onclick="filtreaza_pret()" class="btn-primary">Sortează</button>

            <form action="/posts_filter_by_date" method="get">
                <div class="form-group">
                    <label for="date">Filter by Date:</label>
                    <input type="date" name="date" class="form-control" required>
                </div>
                <button type="submit" class="btn-primary">Filter</button>
            </form>
        </div>
        {% endif %}
        {% if ok != 1 %}
        <button onclick="refresh()" class="btn-primary">Refresh</button>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="static/js/posts.js"></script>
</body>
</html>
