<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/_aux.css">



</head>


<body>

<!--<div class="main">-->
<!-- Sign up form -->
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" action="" class="inputs">
                    {{ form.hidden_tag() }}
                    {{ form.username }}
                    {{ form.password }}
                    {{ form.email }}
                    {{ form.name }}
                    {{ form.address }}
                    {{ form.submit }}
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a
                                href="{{ url_for('login') }}" class="link-danger">Login</a></p>
                    </div>

                    <div class="form-group">
                        <input type="button" onclick="window.location.href='/'" value="Go to Home Page"
                               class="custom-button">
                    </div>
                </form>
            </div>
            <div class="signup-image">

                <figure><img src="static/images/signup-image.jpg" alt="sign up image"></figure>

            </div>
        </div>
    </div>
</section>

<!--</div>-->


<!-- JS -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/js/main.js"></script>
</body>


</html>