{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<link rel="stylesheet" href="/../static/send_message.css">
<div id="casuta_prime">
    <h1>Trimite mesaj</h1>
    <form action="" method="post">
        <input type="message_text" name="receiver_name" value="{% if nume %}{{ nume }}{% else %}receiver_name{% endif %}">
<br><br>
        <textarea name="message_text" rows="5"></textarea><br><br>
        <input type="submit" class="custom-button" value="Trimite">
    </form>
</div>

{#{% endblock %}#}






