{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
<h1>Trimite mesaj</h1>
    <form action=""  method="post">
        <div class="form-group">
        <label>Sender:</label>
            <input type="number" name="sender_id"><br><br>
        </div>
        <label>Reciever:</label>
            <input type="number" name="receiver_id"><br><br>
        <label>Message:</label>
            <textarea name="message_text" rows="5"></textarea><br><br>
      <input type="submit" value="Trimite">
    </form>


{#{% endblock %}#}






