<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tranzactii</title>
</head>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


<header>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="/posts">Posts</a>
                <ul class="sub-menu">
                    <li><a href="/create_post">Add Post</a></li>
                </ul>
            </li>
            <li>
                <a href="/auctions">Auctions</a>
                <ul class="sub-menu">
                    <li><a href="/auctions/create">Add Auction</a></li>
                </ul>
            </li>
            <li>
                <a href="/login">Login</a>
                <ul class="sub-menu">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </li>
            <li>
                <a href="/products">Products</a>
                <ul class="sub-menu">
                    <li><a href="/add_product">Add Product</a></li>
                </ul>
            </li>
            <li><a href="/view_questions">Questions</a></li>
            <li><a href="/messages">Messages</a>
            <ul class="sub-menu">
                <li><a href="/send_message">Send Message</a></li>
                <li><a href="/view_feedbacks">View Feedbacks</a></li>
                <li><a href="/give_feedback">Give Feedback</a></li>
            </ul>
            </li>
        </ul>
    </div>
</header>

<link rel="stylesheet" href="/../static/view_transactions.css">
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<tbody>
{% for tranzactie in tranzactii %}

<form action="" method="post">


<div id="casuta_prime">

    <tr>
        id tranzactie:
        <td>{{ tranzactie.id_transaction }}</td>
        </br>
        id cumparator:
        <td>{{ tranzactie.buyer_id }}</td>
        </br>
        id vanzator:
        <td>{{ tranzactie.seller_id }}</td>
        </br>
        id produs:
        <td>{{ tranzactie.product_id }}</td>
        </br>
        pret:
        <td>{{ tranzactie.price }}</td>
        </br>
        data:
        <td>{{ tranzactie.date }}</td>
        </br>
        </br>
        <input type="submit" class="custom-button" name={{"Feedback"}}{{ tranzactie.id_transaction }} value="Feedback">
    </tr>
</div>
    </form>
{% endfor %}
</tbody>
</table>
</body>
</html>