<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tranzactii</title>
</head>
<body>
        <tbody>
            {% for tranzactie in tranzactii %}
                <tr>
                    id tranzactie:
                    <td>{{ tranzactie.id_transaction }}</td>
                    </br>
                    id cumparator:
                    <td>{{ tranzactie.buyer_id }}</td>
                    </br>
                    id vanzator:
                    <td>{{ tranzactie.seller_id }}</td>
                    </br>
                    id produs:
                    <td>{{ tranzactie.product_id }}</td>
                    </br>
                    pret:
                    <td>{{ tranzactie.price }}</td>
                    </br>
                    data:
                    <td>{{ tranzactie.date }}</td>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>