<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tranzactii</title>
</head>


<link rel="stylesheet" href="/../static/view_transactions.css">
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<tbody>
{% for tranzactie in tranzactii %}

<form action="" method="post">


<div id="casuta_prime">

    <tr>
        id tranzactie:
        <td>{{ tranzactie.id_transaction }}</td>
        </br>
        id cumparator:
        <td>{{ tranzactie.buyer_id }}</td>
        </br>
        id vanzator:
        <td>{{ tranzactie.seller_id }}</td>
        </br>
        id produs:
        <td>{{ tranzactie.product_id }}</td>
        </br>
        pret:
        <td>{{ tranzactie.price }}</td>
        </br>
        data:
        <td>{{ tranzactie.date }}</td>
        </br>
        </br>
        <input type="submit" class="custom-button" name={{"Feedback"}}{{ tranzactie.id_transaction }} value="Feedback">
    </tr>
</div>
    </form>
{% endfor %}
</tbody>
</table>
</body>
</html>