<!DOCTYPE html>
<html>
<head>
    <title>Informatii</title>
</head>
<body>
<form action=""  method="post">
        <label>Pune Intrebare</label>
            <textarea name="question_text" rows="5"></textarea><br><br>
      <input type="submit" name="Intrebare_Submit" value="Trimite">
    </form>

{% block content %}
<div class="container">
  <h2>Questions and Answers</h2>
  <hr>
  {% for (question_id,question_text,id_user), answears in intrebari_raspunsuri.items() %}
  <div class="question">
    <h4>{{ question_text }}</h4>
  {% if user_curent.id_user==id_user %}
    <form action="" method="post">
    <input type="submit" name={{"Delete"}}{{question_id}} value="Sterge">
    </form>
  {% endif %}
  {% if user_curent.is_authenticated and user_curent.id_user!=question_id %}
  <form action="" method="post">
  <label>Raspunde</label>
  <textarea name={{"answer"}}{{question_id}} rows="5"></textarea><br><br>
    <input type="submit" name={{"Raspuns"}}{{question_id}} value="Trimite">
  </form>
  {% endif %}
    {% if intrebari_raspunsuri[(question_id,question_text,id_user)] %}
    <ul>
      {% for (answer_text,id_user,answer_id) in intrebari_raspunsuri[(question_id,question_text,id_user)] %}
      <li>{{ answer_text }}</li>
          {% if user_curent.id_user==id_user %}
    <form action="" method="post">
    <input type="submit" name={{"Sterge"}}{{answer_id}} value="Sterge">
    </form>
  {% endif %}
      {% endfor %}
    </ul>
    {% else %}
    <p>No answers yet</p>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
</body>
</html>
