<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>

</head>

<header>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="/posts">Posts</a>
                <ul class="sub-menu">
                    <li><a href="/create_post">Add Post</a></li>
                </ul>
            </li>
            <li>
                <a href="/auctions">Auctions</a>
                <ul class="sub-menu">
                    <li><a href="/auctions/create">Add Auction</a></li>
                </ul>
            </li>
            <li>
                <a href="/login">Login</a>
                <ul class="sub-menu">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </li>
            <li>
                <a href="/add_product">Add Product</a>
            </li>
            <li><a href="/view_questions">Questions</a></li>
            <li><a href="/messages">Messages</a>
                <ul class="sub-menu">
                    <li><a href="/send_message">Send Message</a></li>
                    <li><a href="/view_feedbacks">View Feedbacks</a></li>
                    <li><a href="/view_transactions">View Transactions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<body>
<link rel="stylesheet" href="/../static/css/view_messages.css">
<div class="container">
    <h1>Messages</h1>
    <table>
        {% for key, value in messages.items() %}
        <tr class="message-row {{ value['s/r'] }}">
            <td>{{ key }}</td>
            <td>
                <ul id="casuta_mesaje">
                    {% for message in value['messages'] %}
                    <p class="message {{ message['s/r'] }}">{{ message['text'] }}</p>

                    {% endfor %}
                </ul>
                <br>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
