<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>

</head>
<body>
<link rel="stylesheet" href="/../static/view_messages.css">
<div class="container">
    <h1>Messages</h1>
    <table>
        {% for key, value in messages.items() %}
        <tr class="message-row {{ value['s/r'] }}">
            <td>{{ key }}</td>
            <td>
                <ul>
                    {% for message in value['messages'] %}
                    <p class="message {{ message['s/r'] }}">{{ message['text'] }}</p>
                    {% endfor %}
                </ul>
                <br>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
