
<!DOCTYPE html>
<html>
  <head>
    <title>Messages</title>
  </head>
  <body>
    <h1>Messages</h1>
    <table>
      {% for key, value in messages.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>
            <ul>
              {% for message in value['messages'] %}
                <li>{{ message['text'] }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </table>
  <button id="button" onclick="window.location.href='/'">Home Page</button>
  </body>
</html>