<!DOCTYPE html>
<html>
<head>
    <title>Feedbacks</title>
</head>
<body>
    <h1>Feedbacks</h1>
{% for user in users %}

    {% if user.id_user!=0 %}
        <details>
        <summary>Mai multe detalii despre {{ user.username }}</summary>
           <details>

           <summary>Vanzator</summary>
              {% if user in feedbacks_vanzator %}
                  <div> Rating final {{ user.seller_rating }}</div>
                    {% for feedback in feedbacks_vanzator[user] %}
                       <div>Feedback:{{ feedback.feedback_text }}</div>
                        <div>Rating:{{ feedback.rating }}</div>
                    {% endfor %}
                {% endif %}
        </details>
        <details>

          <summary>Cumparator</summary>
            {% if user in feedbacks_cumparator %}
                <div>Rating final {{ user.buyer_rating }}</div>
                    {% for feedback in feedbacks_cumparator[user] %}
                       <div>Feedback:{{ feedback.feedback_text }}</div>
                        <div>Rating:{{ feedback.rating }}</div>
                    {% endfor %}
                {% endif %}
        </details>
    {% endif %}
    </details>
{% endfor %}

</body>
</html>
